/* Rosa Quartz #F7CAC9 */
/* Serenity #91A8D0 */
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 13px;
  font-family: 'Lora'; }

hr {
  height: 1px;
  background-color: black;
  margin: 25px 0; }

ul li {
  display: block; }

a {
  color: inherit;
  text-decoration: inherit; }

.title {
  color: #91A8D0; }

.bullet {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: white;
  color: #F7CAC9;
  box-shadow: inset 0 0 0 2.5px #F7CAC9; }

body {
  color: white;
  overflow: auto; }
  body header {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24), 0 0 0 0 white;
    width: 100%;
    height: 350px;
    position: relative;
    background: -webkit-linear-gradient(-45deg, #91A8D0, #F7CAC9); }
    body header > div {
      position: absolute;
      top: 0;
      left: 0; }
      body header > div.opaque {
        width: 100%;
        height: 100%; }
      body header > div#pseac {
        width: 100%;
        height: auto;
        text-align: center;
        padding-top: 125px; }
        body header > div#pseac .title {
          color: white;
          font-size: 36px;
          line-height: 150%; }
        body header > div#pseac .subtitle, body header > div#pseac .contacts {
          line-height: 150%; }
        body header > div#pseac .links {
          margin-top: 35px; }
          body header > div#pseac .links .item {
            margin: 0 15px;
            color: white;
            cursor: pointer; }
    body header footer {
      position: absolute;
      bottom: 5px;
      right: 5px; }
  body section#info {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 100%;
    height: auto;
    z-index: 3;
    justify-content: center;
    background-color: white;
    color: black;
    font-size: 15px;
    text-align: left;
    overflow-y: visible; }
    body section#info > .content {
      width: 65%;
      height: auto;
      position: relative;
      max-width: 900px;
      margin: 45px 0; }
      body section#info > .content .name {
        position: absolute;
        top: -43px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.38);
        color: white;
        line-height: 20px;
        padding: 5px 10px;
        z-index: 9; }
      body section#info > .content > .card {
        position: relative;
        padding: 20px 0; }
        body section#info > .content > .card:not(:last-of-type) {
          margin-bottom: 10px; }
        body section#info > .content > .card > .title {
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          align-items: center;
          font-size: 20px;
          padding: 0 10px 10px; }
          body section#info > .content > .card > .title .bullet {
            margin-right: 10px; }
        body section#info > .content > .card .area {
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          text-align: center; }
          body section#info > .content > .card .area .title {
            width: 20%;
            padding-right: 10px;
            text-align: right;
            box-sizing: border-box; }
          body section#info > .content > .card .area ul {
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            align-items: center;
            width: 80%;
            flex-wrap: wrap; }
            body section#info > .content > .card .area ul li {
              padding: 5px;
              box-sizing: border-box;
              text-align: left; }
        body section#info > .content > .card.employment {
          position: relative;
          padding: 75px 0; }
          body section#info > .content > .card.employment::before {
            width: 4px;
            height: calc(100% - 20px);
            content: '';
            position: absolute;
            top: 10px;
            left: calc(50% - 2px);
            background-color: #b0b0b0;
            z-index: 0; }
          body section#info > .content > .card.employment .opaque-top, body section#info > .content > .card.employment .opaque-bot {
            width: 100%;
            height: 100px;
            position: absolute;
            left: 0; }
          body section#info > .content > .card.employment .opaque-top {
            background: rgba(255, 255, 255, 0);
            background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(50%, rgba(255, 255, 255, 0.9)), color-stop(50%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
            background: -o-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0) 100%);
            background: -ms-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
            background: linear-gradient(top, white 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0) 100%);
            top: -10px; }
          body section#info > .content > .card.employment .opaque-bot {
            background: rgba(255, 255, 255, 0);
            background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, white 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.9)), color-stop(50%, rgba(255, 255, 255, 0.9)), color-stop(100%, white));
            background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, white 100%);
            background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, white 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffffff',GradientType=0 );
            background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.9) 50%, white 100%);
            bottom: -10px; }
          body section#info > .content > .card.employment ul {
            width: 100%;
            height: auto;
            top: 75px; }
            body section#info > .content > .card.employment ul li {
              position: relative;
              margin: 20px 0;
              min-height: 30px; }
              body section#info > .content > .card.employment ul li::after {
                content: "";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden; }
              body section#info > .content > .card.employment ul li .content {
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24), 0 0 0 0 white;
                -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
                -moz-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
                -ms-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
                -o-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
                transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
                width: calc(50% - 30px);
                padding: 10px;
                box-sizing: border-box;
                background-color: #fafafa; }
                body section#info > .content > .card.employment ul li .content:hover {
                  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23), 0 0 0 0 white; }
                body section#info > .content > .card.employment ul li .content .place {
                  color: #91A8D0; }
                body section#info > .content > .card.employment ul li .content .when {
                  font-size: 70%;
                  color: black; }
                body section#info > .content > .card.employment ul li .content .description {
                  margin: 10px 0;
                  line-height: 150%;
                  text-align: left; }
              body section#info > .content > .card.employment ul li.odd .content {
                float: right;
                text-align: left; }
                body section#info > .content > .card.employment ul li.odd .content .when {
                  float: right; }
              body section#info > .content > .card.employment ul li.even .content {
                float: left;
                text-align: right; }
                body section#info > .content > .card.employment ul li.even .content .when {
                  float: left; }
              body section#info > .content > .card.employment ul li.same .content {
                position: relative; }
                body section#info > .content > .card.employment ul li.same .content::before {
                  content: "";
                  width: 2px;
                  height: 20px;
                  position: absolute;
                  top: -20px;
                  left: calc(50% - 1px);
                  background-color: #b0b0b0; }
              body section#info > .content > .card.employment ul li .bullet {
                position: absolute;
                top: 0;
                left: calc(50% - 15px); }

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  body section#info > .content {
    width: 90%; }
    body section#info > .content > .card .area > .title {
      width: 30%; }
    body section#info > .content > .card .area ul {
      width: 70%; }
    body section#info > .content > .card.employment::before {
      left: 0; }
    body section#info > .content > .card.employment ul li .bullet {
      left: -13px; }
    body section#info > .content > .card.employment ul li .content {
      width: calc(100% - 25px);
      float: right !important;
      text-align: right !important; }
      body section#info > .content > .card.employment ul li .content .when {
        float: left !important; } }
